@import "tailwindcss";

:root {
  --background: #0e1015;
  --panel: #15181f;
  --text: #e7e9ee;
  --p1: #e5484d;
  --p2: #f5a524;
  --p3: #5b8def;
  --ok: #3dd68c;
  --border: #262b36;
  --secondary-text: #868c9c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}

.secondary-text {
  color: var(--secondary-text);
}

.panel {
  background-color: var(--panel);
  border: 2px solid var(--border);
}
